@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --clr-primary: #345ff6;
  --clr-tint-1: #b3d3f1;
  --clr-tint-2: #e1e7fe;
  --clr-shade-1: #253347;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-grey-1: #acc1de;
  --clr-grey-2: #5e6e85;
  --clr-gradient-start: rgb(214, 252, 254, 0);
  --clr-gradient-end: rgb(214, 230, 254, 1);
  --clr-gradient: linear-gradient(
    to right,
    var(--clr-gradient-start),
    var(--clr-gradient-end)
  );
  --clr-gradient-light-start: rgb(214, 252, 254, 0.15);
  --clr-gradient-light-end: rgb(214, 230, 254, 0.15);
  --clr-gradient-light: linear-gradient(
    to right,
    var(--clr-gradient-light-start),
    var(--clr-gradient-light-end)
  );
  --ff-main: "Inter";
  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --lh-1: 1.1;
  --lh-2: 1.2;
  --lh-3: 1.5;
  --fs-1: 0.875rem;
  --fs-2: 1rem;
  --fs-3: 1.25rem;
  --fs-4: 1.5rem;
  --fs-5: 2rem;
  --fs-6: 3rem;
  --fs-7: 4rem;
  --sp-1: 0.5rem;
  --sp-2: 1rem;
  --sp-3: 1.5rem;
  --sp-4: 2rem;
  --sp-5: 2.5rem;
  --sp-6: 3rem;
  --sp-7: 3.5rem;
  --sp-8: 4.5rem;
  --sp-9: 5.5rem;
  --sp-10: 6rem;
  --sp-11: 6.5rem;
  --sp-12: 8rem;
  --sp-13: 9rem;
  --container-width-1: 90rem;
  --container-width-2: 72.5rem;
  --br: 0.9375rem;
  --br-2: 1.875rem;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
button {
  font: inherit;
}

input[type=text] {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-2);
  font-weight: var(--fw-normal);
  line-height: var(--lh-3);
  color: var(--clr-grey-2);
}

/******************* LAYOUT   ***************************/
.container {
  max-width: var(--container-width-2);
  margin-inline: auto;
  padding-inline: var(--sp-3);
}
@media (min-width: 48rem) {
  .container {
    padding-inline: var(--sp-5);
  }
}
@media (min-width: 75rem) {
  .container {
    padding-inline: 0;
  }
}

.page {
  max-width: var(--container-width-1);
  margin-inline: auto;
}

.section {
  padding-block: var(--sp-6);
}
@media (min-width: 75rem) {
  .section {
    padding-block: var(--sp-9);
  }
}
.section.spacer-xl {
  padding-block: var(--sp-8);
}
@media (min-width: 48rem) {
  .section.extra-margin {
    margin-block-start: var(--sp-6);
  }
}

.content-flow {
  --spacer: var(--sp-3);
}
@media (min-width: 75rem) {
  .content-flow {
    --spacer: var(--sp-4);
  }
}

.content-flow > * + * {
  margin-block-start: var(--spacer, var(--sp-2));
}

.split {
  display: flex;
  gap: var(--sp-3);
  flex-direction: column;
}
.split > * {
  width: 100%;
}
@media (min-width: 48rem) {
  .split {
    flex-direction: row;
  }
}
.split.split--center {
  align-items: center;
}

/******************* TYPOGRAPHY   ***************************/
h1,
h2,
h3 {
  color: var(--clr-shade-1);
  font-weight: var(--fw-semi-bold);
}

.title-page {
  font-size: var(--fs-6);
  line-height: var(--lh-1);
  letter-spacing: -5%;
}
@media (min-width: 75rem) {
  .title-page {
    font-size: var(--fs-7);
  }
}

.title-section {
  font-size: var(--fs-5);
  line-height: var(--lh-1);
}
@media (min-width: 75rem) {
  .title-section {
    font-size: var(--fs-6);
  }
}

header.section {
  position: relative;
}
header.section:before {
  --br: 1.875rem;
  --distance-to-bottom: 45%;
  content: "";
  position: absolute;
  inset: 0;
  bottom: var(--distance-to-bottom);
  right: var(--distance-to-right, 0);
  border-radius: 0 0 var(--br) var(--br);
  background: var(--clr-gradient);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.01);
  z-index: -1;
}
@media (min-width: 48rem) {
  header.section:before {
    --br: 0px;
    --distance-to-bottom: 40%;
  }
}
@media (min-width: 75rem) {
  header.section:before {
    --distance-to-bottom: 17%;
    --distance-to-right: 30%;
  }
}

header .container > img {
  margin-inline: auto;
}
@media (min-width: 75rem) {
  header .container > img {
    margin-inline: 0;
  }
}

@media (min-width: 75rem) {
  .header-wrapper {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    column-gap: var(--sp-4);
  }
}

.header-info {
  padding-block: var(--sp-4);
  text-align: center;
}
@media (min-width: 48rem) {
  .header-info {
    padding-block: var(--sp-5);
  }
}
@media (min-width: 75rem) {
  .header-info {
    padding-block: var(--sp-8);
    padding-inline-end: var(--sp-10);
    text-align: start;
  }
}

.calculator {
  background-color: var(--clr-white);
  padding: var(--sp-3);
  border-radius: var(--br);
  display: grid;
  row-gap: var(--sp-3);
  column-gap: var(--sp-2);
  grid-template-columns: 1fr 1fr;
  align-items: end;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.calculator > *:first-child {
  grid-column: 1/-1;
  grid-row: 1;
}
.calculator > *:last-child {
  grid-column: 1/-1;
}
.calculator h2 {
  font-size: var(--fs-4);
}
@media (min-width: 48rem) {
  .calculator {
    padding: var(--sp-4);
    row-gap: var(--sp-4);
    column-gap: var(--sp-3);
  }
}

.radio-group {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-shade-1);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: var(--sp-2);
}
.radio-group input[type=radio] {
  appearance: none;
  opacity: 0;
}
.radio-group .radio-custom {
  width: 31px;
  height: 31px;
  border: 1px solid var(--clr-grey-2);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-group .radio-custom:has(input[type=radio]:checked) {
  background-color: var(--clr-grey-1);
  border-color: transparent;
}
.radio-group .checkmark {
  --offset-circle: 16px;
  width: calc(100% - var(--offset-circle));
  height: calc(100% - var(--offset-circle));
  border-radius: 100%;
  background-color: var(--clr-primary);
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.radio-group input[type=radio]:checked + .checkmark {
  opacity: 1;
}

.radio-group:hover .radio-custom:has(input[type=radio]:not(:checked)) {
  border-color: var(--clr-primary);
}

.radio-group .radio-custom:has(input[type=radio]:focus-visible) {
  border: 1px solid var(--clr-primary);
}

.input-group {
  --spacer: var(--sp-1);
}
.input-group label {
  display: block;
  cursor: pointer;
}
.input-group .input-wrapper {
  font-size: var(--fs-4);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-shade-1);
  display: flex;
  align-items: center;
  gap: var(--sp-2);
  border: 1px solid var(--clr-grey-2);
  border-radius: 12px;
  padding: var(--sp-3);
  cursor: pointer;
}
.input-group .input-wrapper:hover {
  border-color: var(--clr-primary);
}
.input-group .input-wrapper:focus-within {
  border-color: var(--clr-primary);
}
.input-group input[type=text] {
  width: 100%;
  border: none;
}
.input-group input[type=text]:focus {
  outline: none;
}
.input-group span {
  color: var(--clr-primary);
}

.result {
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border-radius: 16px;
  padding: var(--sp-4);
}
@media (min-width: 48rem) {
  .result {
    --br: 100px;
    border-end-end-radius: var(--br);
    border-start-end-radius: var(--br);
  }
}

.result--welcome .result-title {
  display: none;
}
.result--welcome .result-value {
  display: none;
}
.result--welcome .result-welcome {
  display: block;
}

.result-header > * + p {
  --spacer: var(--sp-1);
  margin-block-start: var(--spacer);
}

.result-welcome {
  display: none;
  font-size: var(--fs-4);
  color: var(--clr-white);
}

.result-title {
  color: var(--clr-white);
  font-size: var(--fs-2);
}

.result-value {
  font-size: var(--fs-6);
  font-weight: var(--fw-semi-bold);
  line-height: 1.1;
}
@media (min-width: 75rem) {
  .result-value {
    font-size: var(--fs-7);
  }
}

.result-info {
  font-size: var(--fs-1);
}

.explanation > .container {
  display: grid;
  row-gap: var(--sp-5);
}
@media (min-width: 48rem) {
  .explanation > .container {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    column-gap: var(--sp-3);
    padding-inline-start: 0;
    align-items: center;
  }
}
@media (min-width: 75rem) {
  .explanation > .container {
    column-gap: var(--sp-12);
  }
}
@media (min-width: 48rem) {
  .explanation > .container img {
    transform: translateX(-10%);
  }
}
@media (min-width: 75rem) {
  .explanation > .container img {
    transform: translateX(0);
  }
}

.explanation .content-flow {
  --spacer: var(--sp-4);
}

.tips {
  background: var(--clr-gradient-light);
}
.tips .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--sp-5);
}

.article {
  display: grid;
  row-gap: var(--sp-4);
}
.article h2 {
  font-size: var(--fs-4);
  line-height: var(--lh-2);
}
@media (min-width: 48rem) {
  .article {
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: var(--sp-5);
  }
}

.limitations .container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  row-gap: var(--sp-2);
}
.limitations .container > * {
  grid-column: 1/-1;
}
@media (min-width: 48rem) {
  .limitations .container {
    column-gap: var(--sp-2);
    row-gap: var(--sp-3);
  }
  .limitations .container .card {
    grid-column: span 6;
  }
  .limitations .container .card:last-of-type {
    grid-column: 4/10;
  }
}

.description {
  --spacer: var(--sp-4);
  text-align: center;
  padding-block-end: var(--sp-5);
}
@media (min-width: 48rem) {
  .description {
    padding-block-end: var(--sp-4);
  }
}

.card {
  --spacer: var(--sp-2);
  padding: var(--sp-3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: var(--br);
  background-color: white;
}

.card-header {
  display: flex;
  align-items: center;
  gap: var(--sp-2);
}
.card-header h3 {
  font-size: var(--fs-3);
  line-height: 1;
}

/*# sourceMappingURL=styles.css.map */
