@use "utils" as *;
@use "variables" as *;

header.section {
  padding-block: var(--sp-6);
  @media (min-width: $bp-desktop) {
    padding-block: var(--sp-9);
  }

  // background: var(--clr-gradient);
  background-color: pink;
}

header .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-info {
  padding-block: var(--sp-4);
  text-align: center;
}

.calculator {
  background-color: var(--clr-white);
  padding: var(--sp-3);
  border-radius: var(--br);

  display: grid;
  row-gap: var(--sp-3);
  column-gap: var(--sp-2);

  grid-template-columns: 1fr 1fr;
  align-items: end;

  & > *:first-child {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  h2 {
    font-size: var(--fs-4);
    text-align: center;
  }

  .input-group--secondary {
    // display: none;
  }
}
.radio-group {
  font-weight: var(--fw-semi-bold);
  color: var(--clr-shade-1);
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: var(--sp-2);

  input[type="radio"] {
    appearance: none;
    opacity: 0;
  }

  .radio-custom {
    width: 31px;
    height: 31px;
    border: 1px solid var(--clr-grey-2);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .radio-custom:has(input[type="radio"]:checked) {
    background-color: var(--clr-grey-1);
    border-color: transparent;
  }

  .checkmark {
    --offset-circle: 16px;
    width: calc(100% - var(--offset-circle));
    height: calc(100% - var(--offset-circle));

    border-radius: 100%;
    background-color: var(--clr-primary);
    opacity: 0;
    transition: opacity 0.1s ease-in;
  }

  input[type="radio"]:checked + .checkmark {
    opacity: 1;
  }
}

.radio-group:hover .radio-custom:has(input[type="radio"]:not(:checked)) {
  border-color: var(--clr-primary);
}

.radio-group .radio-custom:has(input[type="radio"]:focus-visible) {
  border: 1px solid var(--clr-primary);
}

.input-group {
  --spacer: var(--sp-1);

  label {
    display: block;
    cursor: pointer;
  }

  .input-wrapper {
    font-size: var(--fs-4);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-shade-1);

    display: flex;
    align-items: center;
    gap: var(--sp-2);

    border: 1px solid var(--clr-grey-2);
    border-radius: 12px;
    padding: var(--sp-3);
    cursor: pointer;
  }

  .input-wrapper:hover {
    border-color: var(--clr-primary);
  }
  .input-wrapper:focus-within {
    border-color: var(--clr-primary);
  }

  input[type="text"] {
    width: 100%;
    border: none;
  }
  input[type="text"]:focus {
    outline: none;
  }

  span {
    color: var(--clr-primary);
  }
}
