@use "utils" as *;
@use "variables" as *;

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-2);
  font-weight: var(--fw-normal);
  line-height: var(--lh-3);
  color: var(--clr-grey-2);
}

/******************* LAYOUT   ***************************/

.container {
  max-width: var(--container-width-2);
  margin-inline: auto;
  padding-inline: var(--sp-3);
  @media (min-width: $bp-tablet) {
    padding-inline: var(--sp-5);
  }
  @media (min-width: $bp-desktop) {
    padding-inline: 0;
  }

  // background-color: pink;
}

.page {
  max-width: var(--container-width-1);
  margin-inline: auto;
}

.section {
  padding-block: var(--sp-6);
  @media (min-width: $bp-desktop) {
    padding-block: var(--sp-9);
  }

  &.spacer-xl {
    padding-block: var(--sp-8);

    @media (min-width: $bp-desktop) {
      padding-block: var(--sp-10);
    }
  }

  &.extra-margin {
    @media (min-width: $bp-tablet) {
      margin-block-start: var(--sp-6);
    }
  }
}

.content-flow {
  --spacer: var(--sp-3);
  @media (min-width: $bp-desktop) {
    --spacer: var(--sp-4);
  }
}

.content-flow > * + * {
  margin-block-start: var(--spacer, var(--sp-2));
}

.split {
  display: flex;
  gap: var(--sp-3);
  flex-direction: column;

  & > * {
    width: 100%;
  }

  @media (min-width: $bp-tablet) {
    flex-direction: row;
  }

  &.split--center {
    align-items: center;
  }
}

/******************* TYPOGRAPHY   ***************************/

h1,
h2,
h3 {
  color: var(--clr-shade-1);
  font-weight: var(--fw-semi-bold);
}

.title-page {
  font-size: var(--fs-6);
  line-height: var(--lh-1);
  letter-spacing: -5%;

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-7);
  }
}

.title-section {
  font-size: var(--fs-5);
  line-height: var(--lh-1);

  @media (min-width: $bp-desktop) {
    font-size: var(--fs-6);
  }
}
