@use "utils" as *;
@use "variables" as *;

.explanation > .container {
  display: grid;
  row-gap: var(--sp-5);

  @media (min-width: $bp-tablet) {
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    column-gap: var(--sp-3);

    padding-inline-start: 0;
    align-items: center;
  }

  @media (min-width: $bp-desktop) {
    column-gap: var(--sp-12);
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100px;
      height: 200px;
      transform: translateY(-70%) translateX(-10%);
      background-image: url(../../assets/images/pattern-curved-line-left.svg);
      background-repeat: no-repeat;
    }
  }

  img {
    @media (min-width: $bp-tablet) {
      transform: translateX(-10%);
    }

    @media (min-width: $bp-desktop) {
      transform: translateX(0);
    }
  }
}

.explanation .content-flow {
  --spacer: var(--sp-4);
}
