@use "utils" as *;
@use "variables" as *;

.limitations {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: var(--sp-2);
  }

  .container > * {
    grid-column: 1 / -1;
  }

  @media (min-width: $bp-tablet) {
    .container {
      column-gap: var(--sp-2);
      row-gap: var(--sp-3);

      .card {
        grid-column: span 6;
      }

      .card:last-of-type {
        grid-column: 4 / 10;
      }
    }
  }

  @media (min-width: $bp-desktop) {
    .container {
      & > *:first-child {
        grid-column: span 6;
      }

      .card {
        grid-column: span 4;
      }

      .card:first-of-type {
        grid-column: 8 / 12;
      }

      .card:nth-of-type(2) {
        grid-column: 5 / 9;
      }
      .card:nth-of-type(4) {
        grid-column: 3 / 7;
      }
      .card:last-of-type {
        grid-column: span 4;
      }
    }
  }
}

.description {
  --spacer: var(--sp-4);

  text-align: center;
  padding-block-end: var(--sp-5);

  @media (min-width: $bp-tablet) {
    padding-block-end: var(--sp-4);
  }

  @media (min-width: $bp-desktop) {
    text-align: start;
  }
}

.card {
  --spacer: var(--sp-2);
  padding: var(--sp-3);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  border-radius: var(--br);
  background-color: white;

  @media (min-width: $bp-tablet) {
    padding: var(--sp-4);
  }
}

.card-header {
  display: flex;
  align-items: center;
  gap: var(--sp-2);

  h3 {
    font-size: var(--fs-3);
    line-height: 1;
  }
}
