@use "utils" as *;
@use "variables" as *;

.tips {
  background: var(--clr-gradient-light);

  .container {
    display: grid;
    row-gap: var(--sp-5);

    @media (min-width: $bp-desktop) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      column-gap: var(--sp-4);
    }
  }
}

.article {
  display: grid;
  row-gap: var(--sp-4);

  h2 {
    font-size: var(--fs-4);
    line-height: var(--lh-2);
  }

  .article-text {
    --spacer: var(--sp-3);
  }

  @media (min-width: $bp-tablet) {
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: var(--sp-5);
  }

  @media (min-width: $bp-desktop) {
    grid-template-columns: 1fr;
    row-gap: var(--sp-6);
  }
}
