@use "./utils" as *;

@font-face {
  font-family: "Inter";
  src: url("../../assets/fonts/Inter-VariableFont_slnt\,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

$bp-desktop: #{toRem(1100px)};
// TODO: 375 is to small to consider tablet starting from here
// look at the calculator info border radius for tablet for example.
$bp-tablet: #{toRem(768px)};

:root {
  --clr-primary: #345ff6;

  --clr-tint-1: #b3d3f1;
  --clr-tint-2: #e1e7fe;

  --clr-shade-1: #253347;

  --clr-white: #fff;
  --clr-black: #000;

  --clr-grey-1: #acc1de;
  --clr-grey-2: #5e6e85;

  --clr-gradient-start: rgb(214, 252, 254, 0);
  --clr-gradient-end: rgb(214, 230, 254, 1);
  --clr-gradient: linear-gradient(
    to right,
    var(--clr-gradient-start),
    var(--clr-gradient-end)
  );

  --clr-gradient-light-start: rgb(214, 252, 254, 0.15);
  --clr-gradient-light-end: rgb(214, 230, 254, 0.15);
  --clr-gradient-light: linear-gradient(
    to right,
    var(--clr-gradient-light-start),
    var(--clr-gradient-light-end)
  );

  --ff-main: "Inter";

  --fw-normal: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --lh-1: 1.1;
  --lh-2: 1.2;
  --lh-3: 1.5;

  // FONT SIZE
  --fs-1: #{toRem(14px)};
  --fs-2: #{toRem(16px)};
  --fs-3: #{toRem(20px)};
  --fs-4: #{toRem(24px)};
  --fs-5: #{toRem(32px)};
  --fs-6: #{toRem(48px)};
  --fs-7: #{toRem(64px)};

  // SPACING
  --sp-1: #{toRem(8px)};
  --sp-2: #{toRem(16px)};
  --sp-3: #{toRem(24px)};
  --sp-4: #{toRem(32px)};
  --sp-5: #{toRem(40px)};
  --sp-6: #{toRem(48px)};
  --sp-7: #{toRem(56px)};
  --sp-8: #{toRem(72px)};
  --sp-9: #{toRem(88px)};
  --sp-10: #{toRem(96px)};
  --sp-11: #{toRem(104px)};
  --sp-12: #{toRem(128px)};
  --sp-13: #{toRem(144px)};

  --container-width-1: #{toRem(1440px)};
  --container-width-2: #{toRem(1160px)};

  --br: #{toRem(15px)};
  --br-2: #{toRem(30px)};
}
